<html>
   <head>
      <style>
      h1 {
         color: blue;
         font-size: 28pt;
      }
      body {
          background-image: url("JF4_011487.jpg")
      }
      </style>
   </head>
</html>

